@require './config'

// narrow desktop / iPad
@media (max-width: $MQMobile)
  .page
    padding-left 0

// narrow mobile
@media (max-width: $MQMobileNarrow)
  h1
    font-size 1.9rem
  {$contentClass}
    div[class*="language-"]
      margin 0.85rem -1.5rem
      border-radius 0