// 文本
$textColor = #2c3e50      // 主要
$varColor = #d63200       // 变量
$accentColor = #42b983    // 活动
$warningColor = #e7c000   // 提示
$dangerColor = #c00       // 警告

// 背景
$bgColor = #ffffff        // 主要
$viceBgColor = #e2e1e46b  // 辅助
$codeBgColor = #282c34    // 代码块
$borderColor = #d6d3d3    // 边框

$MQNarrow = 992px